::-webkit-scrollbar {
    width: 2px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #649b4d;
}